.card {
    border: none;
    transition: .25s ease-in-out;
    &-header {
        background-color: transparent;
        border: none;
    }
    &-body {
        height: auto;
    }
    &-footer {
        border: none;
        background-color: transparent;
    }
    &.blog-post {
        border-radius: 15px;
        color: $text-color;
        margin-bottom: 2.9rem;
        .card-header {
            overflow: hidden;
            padding-top: .5rem;
            padding-bottom: 0;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            .blog-img {
                width: 100%;
            }
        }
        .card-body {
            h3 {
                font-size: 1.6rem;
            }
            padding-top: 1rem;
            padding-bottom: 0;
            p {
                font-size: 13px;
            }
        }
        .card-footer {
            padding-top: 1rem;
            padding-bottom: 1.5rem;
            .read-more {
                display: flex;
                align-items: center;
                color: rgba(0, 0, 0, 0.6);
                .icon {
                    margin-right: 10px;
                    background-color: $primary-color;
                    width: 27.5px;
                    height: 27.5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    svg {
                        transform: rotate(-90deg);
                    }
                }
            }
        }
        &:hover,
        &:focus {
            box-shadow: 0 6px 10px rgba($color: $text-color, $alpha: .145);
        }
    }
    &.about {
        .card-header {
            padding-left: 0;
            padding-right: 0;
            display: flex;
            img {
                border-radius: 50%;
                width: 50px;
                height: 50px;
                margin-right: 10px;
            }
            h6 {
                margin-bottom: 2.5px;
            }
            p {
                font-size: 12px;
            }
        }
        .card-body {
            padding-left: 0;
            padding-right: 0;
            padding-top: .5rem;
            p {
                font-size: 13.5px;
                line-height: 1.6;
            }
        }
        .card-footer {
            padding-left: 0;
            padding-right: 0;
            padding-top: .5rem;
        }
    }
}