@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  quotes: none;
  text-decoration: none !important;
  outline: none;
  border: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  transition: 0.3s ease-in-out;
  width: 100%;
  height: auto;
  position: relative;
  background-color: #fff;
  font-family: "Poppins", sans-serif !important;
  overflow-x: hidden;
  margin: 0px auto;
}

p {
  margin-bottom: 0;
}

a,
button {
  cursor: pointer;
}

section {
  margin-bottom: 125px;
  min-height: auto;
}

p,
a,
button,
input {
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  color: #262626;
  font-weight: 700;
}

img {
  object-fit: cover;
}

@media (max-width: 992px) {
  p,
a,
button,
input,
sele {
    font-size: 13px;
  }
}
@media (max-width: 300px) {
  body {
    display: none;
  }
}
.card {
  border: none;
  background-color: transparent;
  transition: 0.25s ease-in-out;
}
.card-header {
  background-color: transparent;
  border: none;
}
.card-body {
  height: auto;
}
.card-footer {
  border: none;
  background-color: transparent;
}
.card.blog-post {
  border-radius: 15px;
  color: #202020;
  margin-bottom: 2.9rem;
}
.card.blog-post .card-header {
  overflow: hidden;
  padding-top: 0.5rem;
  padding-bottom: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.card.blog-post .card-header .blog-img {
  width: 100%;
}
.card.blog-post .card-body {
  padding-top: 1rem;
  padding-bottom: 0;
}
.card.blog-post .card-body h3 {
  font-size: 1.6rem;
}
.card.blog-post .card-body p {
  font-size: 13px;
}
.card.blog-post .card-footer {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}
.card.blog-post .card-footer .read-more {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.6);
}
.card.blog-post .card-footer .read-more .icon {
  margin-right: 10px;
  background-color: #0069cc;
  width: 17.5px;
  height: 17.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.card.blog-post .card-footer .read-more .icon svg {
  transform: rotate(-90deg);
}
.card.blog-post:hover, .card.blog-post:focus {
  box-shadow: 0 6px 10px rgba(32, 32, 32, 0.1);
}

@media (max-width: 498px) {
  .card.blog-post .card-header .blog-img {
    border-radius: 20px;
  }
}
.navbar {
  justify-content: space-between;
}
.navbar .navbar-brand {
  font-weight: 700;
}
.navbar .nav-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 22.5px;
}
.navbar .nav-item.active .nav-link {
  font-weight: 600;
}
.navbar .navbar-nav.icon .darkmode-btn svg {
  display: block;
}
.navbar .navbar-nav.icon .darkmode-btn svg:last-child {
  display: none;
}
.navbar .navbar-menu {
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    box-shadow: 0 4.5px 7px rgba(0, 0, 0, 0.08);
    position: fixed;
    z-index: 9;
    width: 100%;
    top: 0;
    background-color: #fff !important;
  }
  .navbar .navbar-brand {
    font-size: 14px;
  }
  .navbar .navbar-nav.item {
    display: none;
    position: absolute;
    top: 62px;
    margin-left: 0 !important;
    left: 0;
    right: 0;
    z-index: 9;
    padding-bottom: 2rem;
    background-color: #fff;
    box-shadow: 0 6px 7px rgba(0, 0, 0, 0.1);
  }
  .navbar .navbar-nav.item.collaps {
    display: flex;
    margin: 0;
  }
  .navbar .navbar-nav.item .nav-item {
    margin-top: 15px;
  }
  .navbar .navbar-nav.icon {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 22.5px;
  }
  .navbar .navbar-menu {
    display: flex;
  }
  .navbar svg {
    width: 18.5px;
    height: 18.5px;
  }
}
.btn {
  background-color: #0069cc;
  padding: 0.65rem 2rem;
  border: #0069cc;
}

.form-control {
  border: none;
  font-size: 14px;
}

@media (max-width: 498px) {
  .input-group {
    flex-direction: column;
  }
  .input-group .form-control {
    width: 100%;
    border-radius: 5px !important;
    margin-bottom: 10px;
    padding: 0.75rem 1rem;
  }
  .input-group-append .btn {
    border-radius: 5px !important;
    width: 100%;
    display: block;
  }
}
.footer {
  background-color: #e6e6e6;
  color: #202020;
  padding: 1.75rem;
  max-width: 1400px;
  margin: auto;
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .container a {
  color: #202020;
  margin: 0 20px;
}

@media (max-width: 768px) {
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  .footer .container {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer .container a {
    flex-direction: column;
    margin: 0;
    margin-top: 32.5px;
  }
}
.about-header {
  padding-left: 0;
  padding-right: 0;
  display: flex;
}
.about-header img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.about-header a {
  font-size: 0.975rem;
  font-weight: 600;
  color: #202020;
  margin-bottom: 2.5px;
}
.about-header p {
  font-size: 12px;
}
.about-body {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
}
.about-body p {
  font-size: 13.5px;
  line-height: 1.6;
}
.about-footer {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
}

.populer-blog {
  height: 140px;
  display: flex;
  margin-bottom: 2rem;
}
.populer-blog img {
  width: 170px;
  height: 100%;
  border-radius: 10px;
}
.populer-blog-desc {
  display: flex;
  flex-direction: column;
  margin-left: 0.85rem;
}
.populer-blog-desc p {
  color: #202020;
  margin-bottom: 10px;
}

.label-text {
  padding: 0.3rem 0.9rem;
  color: #202020;
  border-radius: 5px;
  font-size: 13px;
  background-color: #eee;
  margin-right: 5px;
  margin-bottom: 10px;
  display: inline-block;
  font-weight: 400;
}
.label-text.active {
  background-color: #0069cc;
  color: #fff;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #eee;
  border-radius: 10px;
  text-align: center;
}
.contact-form h5 {
  margin-bottom: 0;
}
.contact-form p {
  font-size: 13px;
  margin-top: 5px;
}
.contact-form .input-group {
  margin-top: 1.75rem;
}

@media (max-width: 498px) {
  .populer-blog {
    flex-direction: column;
    margin-bottom: 70px;
    height: auto;
  }
  .populer-blog img {
    width: 100%;
  }
  .populer-blog-desc {
    margin-left: 0.85rem;
    margin-right: 0.85rem;
    margin-left: 0.85rem;
    margin-top: 1rem;
  }
  .populer-blog-desc .rm-link {
    color: #fff;
    background-color: #0069cc;
    padding: 1rem 2rem;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s ease-in-out;
    margin-top: 10px;
  }
  .populer-blog-desc .rm-link:hover, .populer-blog-desc .rm-link:focus {
    background-color: #0054a3;
  }

  .contact-form {
    padding: 1rem;
  }
}
@media (max-width: 768px) {
  .content {
    margin-top: 5.5rem !important;
  }
}
.post {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.post-desc {
  text-align: left;
  margin-bottom: 50px;
}
.post-desc .post-img {
  width: 100%;
  height: 425px;
  border-radius: 20px;
}
.post-desc h2 {
  margin: 50px 0;
  margin-top: 35px;
}
.post-desc .post-author {
  display: flex;
  align-items: center;
}
.post-desc .post-author img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.post-desc .post-author p {
  margin-left: 10px;
  color: #202020;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.post-desc .post-author .bio {
  font-size: 12px;
  color: #949494 !important;
}
.post-desc .scmd {
  display: flex;
  align-items: center;
  margin-top: 25px;
  flex-wrap: wrap;
}
.post-desc .scmd-icon {
  margin: 5px;
  display: flex;
  align-items: center;
  background-color: red;
  padding: 0.45rem 0.7rem;
  border-radius: 5px;
  color: #fff;
  margin-right: 10px;
}
.post-desc .scmd-icon p {
  margin-left: 7.5px;
  font-size: 11px;
}
.post-desc .scmd-icon.fb {
  background-color: #005BAF;
}
.post-desc .scmd-icon.tw {
  background-color: #0085FF;
}
.post-desc .scmd-icon.wa {
  background-color: #04C775;
}
.post-desc .scmd-icon.tg {
  background-color: #35B5FD;
}
.post-desc .scmd-icon.path {
  background-color: #FF3A3A;
}
.post-text {
  text-align: left;
}
.post-text p {
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Inter", sans-serif;
}
.post-text img {
  margin-bottom: 20px;
}

@media (max-width: 498px) {
  .post-desc {
    margin-bottom: 60px;
  }
  .post-desc .post-img {
    height: 250px;
  }
  .post-desc h2 {
    font-size: 1.4rem;
    margin: 30px 0;
    margin-top: 20px;
  }
  .post-text img {
    width: 100%;
  }
}
body.darkmode {
  background-color: #272727;
}
body.darkmode * {
  color: #fff !important;
  stroke: #fff !important;
}
body.darkmode input {
  color: #202020 !important;
}
body.darkmode .navbar {
  background-color: #272727 !important;
}
body.darkmode .navbar .navbar-nav {
  background-color: #272727 !important;
}
body.darkmode .navbar .navbar-nav.icon .darkmode-btn svg {
  display: none;
}
body.darkmode .navbar .navbar-nav.icon .darkmode-btn svg:last-child {
  display: block;
}
body.darkmode .label-text {
  background-color: #343434;
}
body.darkmode .label-text.active {
  background-color: #0069cc;
}
body.darkmode .contact-form {
  background-color: #343434;
}
body.darkmode .pagination .page-item .page-link {
  background-color: #343434;
}
body.darkmode .pagination .page-item.active .page-link {
  background-color: #0069cc;
}
body.darkmode .footer {
  background-color: #343434;
}

/*# sourceMappingURL=app.css.map */
