.about {
    &-header {
        padding-left: 0;
        padding-right: 0;
        display: flex;
        img {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }
        a {
            font-size: .975rem;
            font-weight: 600;
            color: $text-color;
            margin-bottom: 2.5px;
        }
        p {
            font-size: 12px;
        }
    }
    &-body {
        padding-left: 0;
        padding-right: 0;
        padding-top: .5rem;
        p {
            font-size: 13.5px;
            line-height: 1.6;
        }
    }
    &-footer {
        padding-left: 0;
        padding-right: 0;
        padding-top: .5rem;
    }
}

.populer-blog {
    height: 140px;
    display: flex;
    margin-bottom: 2rem;
    img {
        width: 170px;
        height: 100%;
        border-radius: 10px;
    }
    &-desc {
        display: flex;
        flex-direction: column;
        margin-left: .85rem;
        p {
            color: $text-color;
            margin-bottom: 10px;
        }
    }
}

.label-text {
    padding: .3rem .9rem;
    color: $text-color;
    border-radius: 5px;
    font-size: 13px;
    background-color: #eee;
    margin-right: 5px;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 400;
    &.active {
        background-color: $primary-color;
        color: #fff;
    }
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #eee;
    border-radius: 10px;
    text-align: center;
    h5 {
        margin-bottom: 0;
    }
    p {
        font-size: 13px;
        margin-top: 5px;
    }
    .input-group {
        margin-top: 1.75rem;
    }
}

@media (max-width: 498px) {
    .populer-blog {
        flex-direction: column;
        margin-bottom: 70px;
        height: auto;
        img {
            width: 100%;
        }
        &-desc {
            margin-left: .85rem;
            margin-right: .85rem;
            margin-left: .85rem;
            margin-top: 1rem;
            .rm-link {
                color: #fff;
                background-color: $primary-color;
                padding: 1rem 2rem;
                border-radius: 5px;
                text-align: center;
                transition: .3s ease-in-out;
                margin-top: 10px;
                &:hover,
                &:focus {
                    background-color: darken($color: $primary-color, $amount: 8);
                }
            }
        }
    }
    .contact-form {
        padding: 1rem
    }
}

@media (max-width: 768px) {
    .content {
        margin-top: 5.5rem !important;
    }
}